@import "variables.scss";
body {
    font-family: 'proxima-nova'!important;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: $clr-primary;
    margin: $margin-secondary 0;
}

.sub-title {
    font-size: 18px;
    font-weight: normal;
    color: $clr-primary;
    margin: $margin-primary 0;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    display: block;
    width: 100%;
    p {
        font-size: 14px;
        color: $clr-secondary;
        margin-top: 10px;
        text-transform: none;
        letter-spacing: normal;
    }
}

.icon-title {
    font-size: 16px;
    font-weight: normal;
    color: $clr-primary;
    margin: 0 0 $margin-primary 0;
    display: block;
    width: 100%;
    img {
        height: 20px;
        margin-right: 10px;
    }
}

.btn-secondary {
    background-color: $clr-secondary;
    color: #fff !important;
    font-size: 14px;
    padding: 5px 10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.btn-primary {
    background-color: $clr-primary;
    padding: 10px 20px !important;
    border-radius: 2px !important;
}

.btn-submit-form {
    display: block;
    text-align: center;
    margin-top: 40px;
}

.txt-align-left {
    text-align: left !important;
}

.main-wrapper {
    display: block;
    background-color: $clr-main-bg;
    .container {
        margin: 0 auto;
        text-align: center;
        .main-navigation {
            display: flex;
            justify-content: center;
            background-color: #ecf7fa;
            margin: $margin-primary 0;
            padding: 10px 0;
            .nav-item {
                border-right: solid 1px $clr-primary;
                padding: 0 20px 0 0 !important;
                margin: 0 20px 0 0;
                text-align: center;
                &:last-child {
                    border-right: none;
                }
            }
            .nav-pills {
                .nav-link {
                    display: inline-block;
                    padding: 0 !important;
                    font-size: 14px;
                    color: $clr-primary;
                    border-radius: 0 !important;
                    min-width: 160px;
                    &.active {
                        background-color: transparent !important;
                        color: $clr-secondary;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .form-fields {
        background-color: #fff;
        padding: 40px;
        margin-top: 40px;
        box-sizing: border-box;
        border-radius: 5px;
        box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
        h1 {
            text-align: center;
        }
        .main-contact-details {
            border-bottom: solid 1px #f1f1f1;
            padding: 0 0 20px 0;
        }
        .form-control {
            border: solid 1px #f1f1f1 !important;
            background-color: $clr-main-bg !important;
            font-size: 14px !important;
        }
        .input-group-text {
            font-size: 14px !important;
            border: solid 1px #f1f1f1 !important;
            background-color: #ecf7fa !important;
        }
        .needs-validation {
            width: 100%;
            color: $clr-primary;
            text-align: left;
            font-size: 14px;
        }
    }
    ul.travelers-list {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            background-color: #ecf7fa;
            padding: 10px 20px;
            width: 100%;
            margin-bottom: 20px;
            span {
                display: inline-block;
                &.traveler {
                    color: $clr-secondary;
                    font-size: 16px;
                }
                &.traveler-date-txt {
                    color: $clr-primary;
                    font-style: italic;
                    font-size: 12px;
                }
                &.traveler-date {
                    color: $clr-primary;
                    font-size: 16px;
                }
            }
        }
    }
}

.checkbox {
    cursor: pointer;
    text-align: left;
    .country-checkbox {
        left: -3000px;
        position: absolute;
        +.country-label {
            display: inline-block;
            width: 100%;
            &:before {
                content: ' . ';
                background-color: #fff;
                color: #fff;
                border: solid 1px #ddd;
                padding: 0 5px;
                border-radius: 2px;
                width: 24px;
                height: 24px;
                display: inline-block;
                margin: 0 5px 0 0;
            }
            span {
                display: inline-block;
                margin-bottom: 10px;
                color: $clr-primary;
            }
            img {
                height: 100px;
                background-color: #f1f1f1;
                display: block;
                box-shadow: inset 1px 1px 30px rgba(0, 0, 0, 0.1)
            }
        }
        &:checked {
            +.country-label {
                &:before {
                    content: '✓';
                    color: $clr-secondary;
                    border: solid 1px $clr-secondary;
                }
                img {
                    background-color: $clr-primary;
                    // box-shadow: inset 5px 5px 20px rgba(0, 0, 0, 1);
                }
            }
        }
    }
}